@media (max-width: 500px) {

    .body-container{
        height: 1100px;
        
    }

    .post {
        height: 610px;
        margin-bottom: 20px;
    }
    
    .post-overflow-mobile {
        height: 420px;
    }

    

}